{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        Hello
    </div>
</div>
<div class="col-4">
    <img src="https://iso.500px.com/wp-content/uploads/2017/10/PhotographingTwilight_TannerWendellStewart-218136823.jpg"
        class="img-thumbnail">
</div>


{{> footer }}